SUBASTAS_STORAGE_MODE=sqlserver
SUBASTAS_SQLSERVER_HOST=127.0.0.1
SUBASTAS_SQLSERVER_PORT=1433
SUBASTAS_SQLSERVER_DATABASE=subastas_mobile
SUBASTAS_SQLSERVER_USER=sa
SUBASTAS_SQLSERVER_PASSWORD=ChangeMe123!
SUBASTAS_SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SUBASTAS_SQLSERVER_TRUSTED_CONNECTION=false
SUBASTAS_SMTP_HOST=smtp.tu-servidor.com
SUBASTAS_SMTP_PORT=587
SUBASTAS_SMTP_USER=usuario_smtp
SUBASTAS_SMTP_PASSWORD=clave_smtp
SUBASTAS_SMTP_FROM_EMAIL=no-reply@tudominio.com
SUBASTAS_SMTP_USE_STARTTLS=true
SUBASTAS_SMTP_USE_SSL=false
SUBASTAS_PASSWORD_RESET_CODE_TTL_MINUTES=15
