<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">

    <activity
      android:name=".nativeapp.ui.splash.SplashActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.App.SplashScreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".nativeapp.ui.auth.LoginActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".nativeapp.ui.auth.RegisterActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".nativeapp.ui.auth.RegistrationVerificationActivity"
      android:exported="false"
      android:screenOrientation="portrait" />

    <activity
      android:name=".nativeapp.ui.auth.SetPasswordActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="atelier"
          android:host="set-password" />
      </intent-filter>
    </activity>

    <activity
      android:name=".nativeapp.ui.auth.ForgotPasswordActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".nativeapp.ui.auth.ChangePasswordActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".nativeapp.ui.home.HomeActivity"
      android:exported="false"
      android:screenOrientation="portrait" />

    <activity
      android:name=".nativeapp.ui.auctions.AuctionsActivity"
      android:exported="false"
      android:screenOrientation="portrait" />

    <activity
      android:name=".nativeapp.ui.auctions.AuctionRoomActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".nativeapp.ui.profile.ProfileActivity"
      android:exported="false"
      android:screenOrientation="portrait" />

    <activity
      android:name=".nativeapp.ui.profile.PaymentMethodFormActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".nativeapp.ui.profile.ConsignmentActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />
  </application>
</manifest>
